
  h1,
  h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400px;
  color:#4f7097
  }
  
  form {
    text-align: center;
    margin-bottom: 100px;
  }
  .currentCity {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  

  .card-text {
    text-align: center;
  }
  button {
    background-color: #4f7097;
    color: white
    ;
  border-radius: 5px;
    padding: 5px;
border: 1px solid #4f7097;
font-family: 'montserrat';
width: 30%;
  }

.container {
  background-image:linear-gradient(to right,white, #c8d9eb );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#getWeather, #getCurrentLocation{
  border-radius: 7px;
  background: #4f7097;
  width: 20%;
  display: inline;
  margin: 10px;
}
input {
  width: 25%;
height: 45px;
}
img {
  display: flex;
  width: 50%;
margin: 0 auto;
}
.currentWeather{
  display: flex;
  justify-content: center;
  align-items: center;
}
#humidity, #iconCurrent, #description, #humidityPercent, #windSpeed {
  display: flex;
  justify-content: center;
  align-items: center;
}
p, span, div {
  font-family: 'Montserrat', 'sans-serif';
  color:#4f7097;
  font-size: 20px


}

.active {
  color: black;
  text-decoration: none;
}


.searchAndButtons 
{
  display: flex;
  flex-direction: row;
  justify-content:center;
  width: 100%;
  padding: 20px
  ;
  align-items: center;
}
#forecast {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 10px;
  justify-content: space-between;
}
#getWeather{
  width: 15%;
}
@media screen and (max-width: 400px){
  .searchAndButtons {
    display: flex;
    flex-direction: column;
   flex-grow: 1;
   align-items: center;
   width: 100%;
  }

  #getWeather, #getCurrentLocation{
   width:75%
  }
  input {
    width: 75%;
  height: 45px;
}
#forecast {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.col-2{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
}